<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTUITIVE ACADEMY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Intuitive Academy Website</h1>
        <p>Just like I said i can do this.</p>
    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - What you asked....</title>
</head>
<body>
    <div class="container">
        <h1>About This Website</h1>
        <p>This website is created using Flask, mina i told you so.......</p>
    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Website</title>
    <style>
        body {
            background-color: #0682f0; /* Change this to your desired color */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to My Flask Website!</h1>
        <p>This is a simple web application built with Flask.</p>
    </div>
</body>
</html>